<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow">
  <div class="container">
    <ul class="navbar-nav">
      <a class="navbar-brand fw-bold" href="">MovieApp</a>
      <li sec:authorize="isAnonymous()" class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/store">Store</a>
      </li>
      <li sec:authorize="isAuthenticated()"
        th:if="${#authentication.getPrincipal().getUserRole().toString() == 'ADMIN'}" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Admin controls</a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/movies">Movies</a></li>
          <li><a class="dropdown-item" href="/users">Users</a></li>
          <li><a class="dropdown-item" href="/genres">Genres</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li sec:authorize="isAnonymous()" class="nav-item">
        <a class="nav-link" href="/register">
          <i class="bi bi-person-fill"></i>Register
        </a>
      </li>
      <li sec:authorize="isAnonymous()" class="nav-item">
        <a class="nav-link" href="/login">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="">
          Credits: $<span th:text="${#authentication.getPrincipal().getCredits()}"></span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="">
          <i class="bi bi-person-fill"></i> <span sec:authentication="name"></span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="bi bi-box-arrow-in-right"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
