<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow mb-5">
  <div class="container">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="">MovieApp</a>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/movies">Movies</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li sec:authorize="isAnonymous()" class="nav-item">
        <a class="nav-link" href="/register">
          <i class="bi bi-person-fill"></i>Register
        </a>
      </li>
      <li sec:authorize="isAnonymous()" class="nav-item">
        <a class="nav-link" href="/login">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="">
          <i class="bi bi-person-fill"></i> <span sec:authentication="name"></span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="bi bi-box-arrow-in-right"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
