<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <div th:replace="fragments/include"></div>
</head>
<body class="bg-dark text-white">
  <div th:replace="fragments/navbar"></div>
  <div class="container">
    <h1 class="mb-3">What will you be watching today?</h1>
    <div class="row">
      <div class="card col-3 p-0 m-2 bg-dark shadow">
        <img class="card-img-top fit-image h-75" src="/images/cars.jpg" alt="Cars">
        <div class="card-body">
          <h5 class="card-title">Cars</h5>
          <p class="card-text">Description of cars the movie</p>
          <button class="btn btn-primary">Play</button>
        </div>
      </div>
      <div class="card col-3 p-0 m-2 bg-dark shadow">
        <img class="card-img-top fit-image h-75" src="/images/sonic.jpg" alt="Sonic">
        <div class="card-body">
          <h5 class="card-title">Sonic the Hedgehog 2</h5>
          <p class="card-text">Description of Sonic the movie</p>
          <button class="btn btn-primary">Play</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
