<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <div th:replace="fragments/include"></div>
</head>
<body class="bg-dark text-white">
  <div th:replace="fragments/navbar"></div>
  <div class="container">
    <h1 class="mb-3">What will you be watching today?</h1>
    <div class="row">
      <th:block th:each="movie : ${movieList}">
        <div class="card col-3 p-0 m-3 bg-dark shadow">
          <img class="card-img-top fit-image h-75" th:src="${movie.imagePath}" th:alt="${movie.title}">
          <div class="card-body">
            <h5 class="card-title">[[${movie.title}]]</h5>
            <p class="card-text">[[${movie.description}]]</p>
            <a class="btn btn-primary" href="/dashboard/play">Play</a>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</body>
</html>
