<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <div th:replace="fragments/include"></div>
</head>
<body class="bg-dark text-white">
  <div th:replace="fragments/navbar"></div>
  <div class="container">
      <div class="text-danger mt-5">
        <h1>Error 404</h1>
        <p>Something went wrong with the request, make sure you have permission to view this site.</p>
      </div>
  </div>
</body>
</html>
