<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <div th:replace="fragments/include"></div>
</head>

<body class="bg-dark text-white">
  <div th:replace="fragments/navbar"></div>
  <div th:replace="fragments/posters"></div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5 bg-dark mt-5 p-5 rounded shadow">
        <h1 class="mb-3">Login</h1>
        <form th:action="@{/login}" method="post">
          <input type="hidden" />
          <div class="alert alert-danger" th:if="${(param.error)}">Invalid username or password</div>
          <div class="alert alert-success" th:if="${(param.logout)}">Successfully logged out</div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="username" placeholder="name@example.com" required
              minlength="2" maxlength="45" />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required />
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer"></div>
</body>

</html>
