<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <div th:replace="fragments/include"></div>
</head>
<body class="bg-dark text-white">
  <div th:replace="fragments/navbar"></div>
  <div class="container">
    <h1>Movies</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Image Path</th>
          <th>Release Year</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="movie : ${movieList}">
          <tr>
            <td>[[${movie.title}]]</td>
            <td>[[${movie.description}]]</td>
            <td><a th:href="${movie.imagePath}">[[${movie.imagePath}]]</a></td>
            <td>[[${movie.releaseYear}]]</td>
            <td>$[[${movie.price}]]</td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>
</body>
</html>
